{% extends 'accounts/shared/base.html' %}
{% load crispy_forms_tags %}
{% load static %} 
<!-- {% load static %} -->
{% block content %}
<div class="container " >
<div class="row " >
    <div class="col-7 offset-3 rounded shadow bg-light">
        <h2>Sign-up</h2>
        
        <label for="" >please Enter Your Details for Sign-up.</label>
        <hr>
        <br>
        <form action=""enctype="multipart/form-data" method="POST">

            {% csrf_token %} 
            <!-- {{ form1|crispy }}
            {{ form2|crispy }} --> 




                <table  >
                    <tr >
                        <td class="col-6">
                            <div class="form-group">
                            <label for="" >First Name </label><br>
                            <input type="text"name="FirstName " placeholder="First name"class="form-control" >
                            </div>
                        </td>
                        
                        <td class="col-6">
                            <div class="form-group">
                                <label for="" >Last Name </label><br>
                                <input type="text"name="LastName " placeholder="Last name"class="form-control" >
                            </div>

                        </td>
                    </tr>
                    <tr >
                        <td class="col-6">
                            <div class="form-group">
                                <label for="" >Email </label><br>
                                <input type="email"name="Email " placeholder="Enter valid Email "class="form-control" >
                            </div>
                        </td>
                    
                        <td class="col-6">
                            <div class="form-group">
                                <label for="" >Phone </label><br>
                                
                           
                            
                            <select  name="code" id="code"class="form-control"style="width: 80px;" >
                                <option>+91</option>
                                <option>+62</option>
                                <option>+98</option>
                              </select>
                           
                              
                                <input type="number"name="phone " placeholder="phone"class="form-control" >
                            </td>
                            </div>
                       
                            <!-- <input type="number"name="phone " placeholder="phone"class="form-control" > -->
                        </div>
                        
                        </td>
                        
                       
                    </tr>
                    
                <!-- </table> -->
                <tr >
                    <td class="col-7">
                        <div class="form-group">
                            <label for="" >Address</label><br>
                            <input type="text"name="address " placeholder="address"class="form-control"  >
                        </div>
                            
                    </td>
                    <td class="col-6">
                        <div class="form-group">
                            <label for="" >User Type </label><br>
                            <input type="radio" name="usertype" id="user">User
                            <input type="radio" name="usertype" id="admin">Admin
                            <!-- <input type="text"name="LastName " placeholder="Last name"class="form-control" > -->
                        </div>
                </tr>
                <!-- <div class="form-group">
                    <label for="" >Address</label><br>
                    <input type="text"name="address " placeholder="address"class="form-control" >
                </div> -->
                    

                <!-- <table  > -->
                    <tr>
                        <td class="col-6">
                            <div class="form-group">
                            <label for="" >City </label><br>
                            <input type="text"name="city " placeholder="city"class="form-control" >
                            </div>
                        </td>
                        
                        <td class="col-6">
                            <div class="form-group">
                                <label for="" >Date of birth</label><br>
                                <input type="date" name="dateofbirth" placeholder="dateofbirth "class="form-control">
                                <!-- <input type="number"name="date" placeholder="DD"class="form-control"  >
                                <input type="number"name="date" placeholder="MM"class="form-control" >
                                <input type="number"name="date" placeholder="YYYY"class="form-control" > -->

                            </div>
                            

                        </td>
                    </tr>
                    <tr>
                        <td class="col-6">
                            <div class="form-group">
                                <label for="" >Passportnumber </label><br>
                                <input type="text"name="Passportnumber" placeholder="Enter Passport number "class="form-control" >
                            </div>
                        </td>
                    
                        <td class="col-6">
                            <div class="form-group">
                                <label for="" >Passport expiry date </label><br>
                                <input type="date" name="passportexpirydate" placeholder="passportexpirydate "class="form-control">


                                <!-- <div class="ui calendar" id="example2">
                                    <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                     <input type="text" placeholder="DD">
                                    
                                    </div> -->
                                <!-- </div> 
                                <div class="ui calendar" id="yyyy">
                                    <div class="ui input left icon">
                                      
                                        <input type="text" placeholder="YYYY">
                                      </div> -->
                                <!-- </div> -->
    
                        </td>
                    </tr>
                    <tr >
                        <td class="col-6">
                            <div class="form-group">
                            <label for="" >Username </label><br>
                            <input type="text"name="username " placeholder="username"class="form-control" >
                            </div>
                        </td>
                        
                        <td class="col-6">
                            <div class="form-group">
                                <label for="" >Password </label><br>
                                <input type="password"name="password " placeholder="password"class="form-control" >
                            </div>

                        </td>
                    </tr>

                    <tr >
                        <td class="col-6">
                            <div class="form-group">
                            <label for="" >Profilephoto </label><br>
                            <input type="file" name="profilephoto" id="profilephoto">
                            <!-- <input type="text"name="username " placeholder="username"class="form-control" > -->
                            </div>
                        </td>
                        
                        
                    </tr>
                    
                </table>
                <br>

                   
                <div  class="form-group " style="text-align: center;padding-inline: 40px;">
                    <a href="{% url 'accounts_home' %}" class="btn btn-outline-info btn-l " role="button" aria-pressed="true" id="cancel" style="outline-color: #006B66;color:#006B66;">Cancel</a>
                    <a href="{% url 'mainapp_members_list' %}" class="btn btn-outline-info btn-l " role="button" aria-pressed="true"style="background-color: #006B66;color: white;">Sign-up</a>
               
                 </div>
                <br>

                   
                     
                    
                    {% if error %}
                    <hr>
                    <p class="alert alert-forestgreen">{{error}}</p>
                        
                    {% endif %}
                        
                        </div>
                </form>  
                </div>
            </div>















           
        </form>
    </div>
</div>
</div>
{% endblock content %}

    